.card {
  position: relative;
  width: 200px;
  background-color: $white;
  box-shadow: 0px 1px 2px rgba(176, 176, 204, 0.184556);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 25px;

  &:hover {
    box-shadow: 0px 5px 7px rgba(176, 176, 204, 0.184556)
  }
}

.card__img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  & img {
    margin-top: -21px;
    width: 58px;
    height: 140px;
  }
}

.card__title {
  margin: 0;
  @include main-font(16px, 19px, 800);
  color: $text-color;
  letter-spacing: 1px;
  margin-bottom: 19px;
}

.card__price {
  margin: 0;
  color: $text-color;
  letter-spacing: 1px;
  @include main-font(10px, 12px, 400);

  &-bold {
    @include main-font(14px, 18px, 800);
  }
}

.card__link {
  position: absolute;
  right: 16px;
  bottom: 18px;
  display: block;
  font-size: 12px;
  color: $text-color;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
