.dealer {
  max-width: 680px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.dealer__image {
  max-width: 441px;
  width: 100%;
  min-width: 345px;
  margin-bottom: 48px;

  & img {
    display: block;
    width: 100%;
  }
}

.dealer__button {
  margin-top: 138px;
  padding: 20px 30px;
}

.dealer__list {
  min-width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.dealer__item {
  min-width: 220px;
  width: 220px;
  background-color: $card-bg;
  border-radius: 10px;
  margin-right: 10px;

  @media (max-width: 1700px) {
    min-width: 200px;
    width: 200px;
  }
}

.dealer__link {
  padding: 40px 22px 37px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.dealer__item-image {
  width: 50px;
  height: 50px;
  background-color: $white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 43px;

  & .icon-pin,
    .icon-circle {
    font-size: 26px;
    color: $text-color;
  }

  & .icon-triangle {
    font-size: 25px;
    color: $text-color;
  }
}

.dealer__link-title {
  width: 100%;
  color: $white;
  @include main-font(18px, 22px, 800);
  margin: 0;
  margin-bottom: 11px;
}

.dealer__text {
  width: 100%;
  color: $white;
  margin: 0;
  @include main-font(14px, 18px, 600);
  opacity: 0.5;
}

@media (max-width: $desktop-width) {
  .dealer {
    flex-direction: column;
  }

  .dealer__image {
    margin-bottom: 0;
  }

  .dealer__button {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 55px;
    padding: 16px 23px;
  }

  .dealer__list {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
  }

  .dealer__item {
    margin-bottom: 10px;
  }
}

@media (max-width: $tablet-width) {
  .dealer {
    width: 100%;
    margin: 0 auto;
  }

  .dealer__image {
    margin-top: 5px;
    margin-left: 15px;
    width: 355px;
  }
}

@media (max-width: $full-mobile-width) {
  .dealer__list {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    padding-left: 20px;
  }

  .dealer__item {
    width: 220px;
    min-width: 220px;
    margin-right: 13px;
  }
}
