.page-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 60px;
  z-index: 999;

  & img {
    display: block;
  }

  &--dealer {
    margin-bottom: 29px;
  }

  &--buy {
    margin-bottom: 4px;
  }

  &--product-card {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.page-header--product-card .page-header__logo {

  &--black {
    display: none;
  }
}

.page-header__logo:hover {
    cursor: pointer;
    opacity: 0.8;

    &:active {
      opacity: 0.6;
    }
  }

.page-header--catalog .page-header__logo {

  &--black {
    display: block;
  }
}

.page-header__link-phone {
  align-self: flex-start;
  color: $white;
  @include main-font(18px, 22px, 600);
  letter-spacing: 1.29px;
  @include underline-appear-hover(3px, -8px, $white, $white);
  margin-left: 58px;

  &--black {
    color: $text-color;

    &:hover {
      color: $text-color;
      @include underline-appear-hover(3px, -8px, $text-color, $text-color);
    }
  }

  @media (max-width: 1200px) {
    margin-left: 30px;
  }
}

.page-header__nav-button,
.page-header__phone-link,
.page-header__button-text--close {
  display: none;
}

@media (max-width: $tablet-width) {
  .page-header__phone-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    padding: 20px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 13px 20px 13px 17px;
    background-color: $dark-blue;
    border-radius: 15px 15px 0 0;
    align-items: center;
    justify-content: flex-start;

    &--dealer {
      margin-bottom: 0;
    }

    &--buy {
      margin-bottom: 0;
    }

    &--product-card {
      background-color: $white;
      box-shadow: 0px 0px 62px #dadde8;
    }

    &--catalog {
      background-color: $white;
      box-shadow: 0px 0px 62px #dadde8;
    }
  }

  .page-header__logo {
    width: 85px;
    height: 12px;
  }

  .page-header__phone-wrapper {
    display: none;
  }

  .page-header--product-card .page-header__logo {
    display: none;

    &--black {
      display: block;
    }
  }

  .page-header__nav-button {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    background-color: $darkest-blue;
    color: $white;
    @include main-font(14px, 18px, 600);
    padding: 11px 9px 11px 17px;
    border-radius: 10px;
    margin-left: 11px;
    cursor: pointer;

    & .icon-menu-icon-black {
      margin-top: 3px;
      margin-left: 14px;
      font-size: 18px;
      line-height: 18px;
    }

    &:hover {
      color: $yellow;
    }

    &:active {
      opacity: 0.8;
    }

    &--close {
      padding-right: 11px;

      & .icon-cross {
        margin-top: 3px;
        margin-left: 14px;
        font-size: 18px;
        line-height: 18px;
      }
    }

    &--product-card {
      background-color: $light-menu-bg;
      color: $black;

      &:hover {
        color: $text-color;
      }
    }
  }

  .page-header__button-text {
    &--close-active {
      display: block;
    }

    &--main-close {
      display: none;
    }
  }

  .page-header__phone-link {
    display: block;
    background-color: $darkest-blue;
    width: 40px;
    height: 40px;
    color: $white;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    border-radius: 10px;
    margin-left: auto;

    &:active {
      opacity: 0.8;
    }

    &--product-card {
      background-color: $light-menu-bg;
      color: $text-color;
    }
  }
}
