.page-main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--dealer {
    background-color: $menu-bg;
    justify-content: flex-start;
    height: auto;
  }

  &--buy {
    background-color: $menu-bg;
    min-height: 100vh;
    justify-content: space-between;
    height: auto;
  }

  &--product-card {
    position: relative;
    background-color: $menu-bg;
    min-height: 100vh;
    justify-content: space-between;
    height: auto;
    width: 59.6%;
  }

  &--catalog {
    position: relative;
    height: auto;
  }

  &__dealer-wrapper {
    display: flex;
    padding-left: 160px;
    padding-right: 210px;
    margin-bottom: 211px;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 1700px) {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.page-main__subnav {
  display: none;

  &--white .page-main__subnav-link {
    color: $text-color;
  }
}

.page-main__wrapper {
  position: relative;
  width: 650px;
  margin-left: 14.3%;
}

.page-main__title {
  position: relative;
  color: $white;
  @include main-font-bold(72px, 78px, 900);
  letter-spacing: 1.3px;
  margin: 0;
  padding: 0;

  &::after {
    position: absolute;
    content: "";
    width: 172px;
    height: 7px;
    background-color: $white;
    right: 190px;
    bottom: 24px;
  }
}

@media (max-width: $tablet-width) {

  .page-main {

    &--product-card {
      width: 100%;
      justify-content: flex-start;
      min-height: auto;
      height: auto;
    }
  }

  .page-main__wrapper {
    width: 460px;
  }

  .page-main__dealer-wrapper {
    flex-wrap: wrap;
  }

  .page-main__title {
    @include main-font-bold(50px, 55px, 900);

    &::after {
      width: 80px;
      right: 179px;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-main {
    justify-content: flex-end;

    &--product-card {
      width: 100%;
      justify-content: flex-start;
      min-height: auto;
    }
  }

  .page-main__wrapper {
    width: 334px;
    margin: 0;
    align-self: center;
    margin-bottom: 185px;
  }

  .page-main__dealer-wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 191px;
  }

  .page-main__title {
    @include main-font-bold(37px, 55px, 900);
    letter-spacing: 0.53px;

    &::after {
      width: 44px;
      height: 5px;
      right: 146px;
      bottom: 21px;
    }
  }

  .page-main__subnav {
    display: block;
    margin-bottom: auto;

    &--buy {
      margin-bottom: 30px;
    }
  }

  .page-main__subnav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 20px;
    padding: 0;
    padding-bottom: 18px;
    border-bottom: 1px solid $light-grey;
  }

  .page-main__subnav-link {
    color: $light-grey;
    @include main-font-bold(12px, 15px, 700);
    letter-spacing: 1.1px;

    &:hover {
      color: $white;
    }

    &--active {
      color: $white;
    }
  }
}
