.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 60px;
  z-index: 999;

  & img {
    display: block;
  }

  &--dealer {
    margin-bottom: 29px;
  }

  &--buy {
    margin-bottom: 4px;
  }
}

.page-header__nav-button,
.page-header__phone-link,
.page-header__button-text--close {
  display: none;
}

@media (max-width: $tablet-width) {
  .page-header {
    padding: 20px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 16px;
    background-color: $dark-blue;
    border-radius: 15px 15px 0 0;
    align-items: center;
    justify-content: flex-start;

    &--dealer {
      margin-bottom: 0;
    }

    &--buy {
      margin-bottom: 0;
    }
  }

  .page-header__logo {
    width: 85px;
    height: 12px;
  }

  .page-header__nav-button {
    position: relative;
    display: block;
    border: none;
    background-color: $darkest-blue;
    color: $white;
    @include main-font-bold(14px, 16px, 600);
    padding: 10px 54px 13px 17px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      width: 17px;
      height: 17px;
      right: 16px;
      top: 0;
      bottom: 0;
      margin: auto;
      background-image: url("../img/menu-icon.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
    }

    &:hover {
      color: $yellow;
    }

    &:active {
      opacity: 0.8;
    }

    &--close {
      padding-right: 51px;

      &::after {
        background-image: url("../img/close-icon.svg");
        width: 36px;
        height: 36px;
        right: 5px;
      }
    }
  }

  .page-header__button-text {
    &--close-active {
      display: block;
    }

    &--main-close {
      display: none;
    }
  }

  .page-header__phone-link {
    display: block;
    background-color: $darkest-blue;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 16px;
    margin-left: auto;

    &:active {
      opacity: 0.8;
    }
  }
}
