.price {
  margin-right: 40px;
  margin-bottom: 30px;
}

.price__title {
  @include main-font(14px, 18px, 700);
  letter-spacing: 0.6px;
  color: $text-grey;
  margin: 0;
  width: 100%;
}

.price__value {
  margin: 0;
  font-weight: 500;
  letter-spacing: 3.8px;

  &-bold {
    color: $black;
    @include main-font(30px, 37px, 800);
    letter-spacing: 1.16px;
    color: $text-color;
  }
}

@media (max-width: 500px) {
  .price {
    margin-right: 0;

    &--right-align {
      text-align: right;
    }
  }

  .price__title {
    margin-bottom: 10px;
  }

  .price__value-bold {
    @include main-font(21px, 25px, 800);
    letter-spacing: 1.16px;
  }
}
