.product {
  position: relative;
  display: flex;
  padding-left: 60px;
  padding-bottom: 30px;
}

.product__list {
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: flex-end;
  margin-bottom: 30px;
}

.product__item {
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product__link {
  @include main-font(14px, 18px, 800);
  color: $lightest-grey;
  letter-spacing: 0.5px;

  &--active {
    color: $white;
  }

  &:hover {
    color: $white;
  }
}

.product__img {
  position: relative;
  top: -5px;
  left: 17px;
  width: 600px;
  height: calc(100vh - 193px);
  background-image: url("../img/woodmodern.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  transform: scale(1.04);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/woodmodern@2x.png");
  }
}

.product__title {
  width: 265px;
  padding-top: 21.5%;
  margin: 0;
  word-wrap: break-word;
  @include main-font(100px, 105px, 900);
  color: $white;
  text-transform: uppercase;
  margin-left: 15px;
  align-self: flex-start;
}

.product__title-text {
  @include main-font(200px, 150px, 900);
}

.product__country {
  position: absolute;
  left: -156px;
  top: 39%;
  display: flex;
  flex-direction: column;
  transform: rotate(-90deg);
  text-align: center;
}

.product__country-title {
  @include main-font(14px, 18px, 600);
  color: $white;
  opacity: 0.5;
  letter-spacing: 0.5px;
}

.product__country-text {
  @include main-font(21px, 25px, 800);
  color: $white;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.product__material {
  position: absolute;
  bottom: 12.4%;
  right: -95px;
  display: flex;
  flex-direction: column;
}

.product__material-title {
  @include main-font(14px, 18px, 600);
  color: $white;
  opacity: 0.5;
  letter-spacing: 0.5px;
  margin-bottom: 7px;
}

.product__material-text {
  @include main-font(18px, 22px, 800);
  color: $white;
  letter-spacing: 0.64px;
}

.product__card {
  position: relative;
  display: flex;
  align-self: flex-start;
}

.product__card-link {
  display: none;
}


@media (max-width: 1870px) {
  .product__img {
    height: calc(100vh - 236px);
  }
}

@media (max-width: $full-desktop-width) {
  .product__img {
    width: 500px;
  }
}

@media (max-width: $desktop-width) {
  .product__img {
    width: 400px;
    left: -27px;
  }

  .product__material {
    display: none;
  }
}

@media (max-width: 1200px) {
  .product__img {
    height: calc(100vh - 279px);
  }
}

@media (max-width: $tablet-width) {
  .product__img {
    width: 500px;
    height: calc(100vh - 236px);
    left: -20px;
  }

  .product__country {
    left: 95%;
  }
}

@media (max-width: $mobile-width) {
  .product {
    width: 100%;
    padding-left: 0;
  }

  .product__card {
    width: 100%;
  }

  .product__img {
    max-width: 500px;
    width: 100%;
    min-width: 227px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .product__list {
    display: none;
  }

  .product__country {
    left: auto;
    right: 0;
  }

  .product__card-link {
    position: absolute;
    left: 20px;
    top: -30px;
    display: block;
    color: $lightest-grey;
    @include main-font(14px, 18px, 800);
    letter-spacing: 0.5px;
    text-transform: uppercase;

    &:hover {
      opacity: 0.5;
    }
  }
}

@media (max-width: 500px) {
  .product__img {
    width: 227px;
    left: -27px;
    top: -20px;
  }

  .product__country {
    left: auto;
    right: -2px;
    top: 120px;
  }

  .product__country-title {
    @include main-font(10px, 13px, 600);
    letter-spacing: 0.35px;
  }

  .product__country-text {
    @include main-font(14px, 18px, 800);
    letter-spacing: 2px;
  }
}
