.product {
  position: relative;
  display: flex;
  padding-left: 60px;
  padding-bottom: 30px;
}

.product__list {
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: flex-end;
  margin-bottom: 30px;
}

.product__item {
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product__link {
  @include main-font(14px, 18px, 800);
  color: $lightest-grey;
  letter-spacing: 0.5px;

  &--active {
    color: $white;
  }

  &:hover {
    color: $white;
  }
}

.product__card-wrapper {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.product__card-text {
  @include main-font(11vh, 12vh, 900);
  color: $white;
  margin: 0;
  text-transform: uppercase;

  &--big {
    font-size: 22vh;
    line-height: 20vh;
  }
}

.product__img {
  position: relative;
  left: -50px;

  & img {
    display: block;
    height: calc(100vh - 200px);
  }
}

.product__country {
  position: absolute;
  left: -156px;
  top: 39%;
  display: flex;
  flex-direction: column;
  transform: rotate(-90deg);
  text-align: center;
}

.product__country-title {
  @include main-font(14px, 18px, 600);
  color: $white;
  opacity: 0.5;
  letter-spacing: 0.5px;
}

.product__country-text {
  @include main-font(21px, 25px, 800);
  color: $white;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.product__material {
  position: absolute;
  bottom: 12.4%;
  right: -95px;
  display: flex;
  flex-direction: column;
}

.product__material-title {
  @include main-font(14px, 18px, 600);
  color: $white;
  opacity: 0.5;
  letter-spacing: 0.5px;
  margin-bottom: 7px;
}

.product__material-text {
  @include main-font(18px, 22px, 800);
  color: $white;
  letter-spacing: 0.64px;
}

.product__card {
  position: relative;
  display: flex;
  align-self: flex-start;
}

.product__card-link {
  display: none;
}


@media (max-width: 1870px) {
  // .product__img {
  //   height: calc(100vh - 236px);
  // }
}

@media (max-width: $full-desktop-width) {
  // .product__img {
  //   width: 500px;
  // }
}

@media (max-width: $desktop-width) {

  .product__material {
    display: none;
  }
}

@media (max-width: 1200px) {
  .product__card-wrapper {
    margin-bottom: 15%;
  }

  .product__img {
    left: -30px;

    & img {
      height: calc(100vh - 230px);
    }
  }

  .product__card-text {
    @include main-font(9vh, 10vh, 900);
    color: $white;
    margin: 0;
    text-transform: uppercase;

    &--big {
      font-size: 18vh;
      line-height: 20vh;
    }
  }

  .product__country {
    top: 20%;
  }
}

@media (max-width: $tablet-width) {
  .product__country {
    top: 39%;
    left: 95%;
  }

  .product__card-wrapper {
    margin-left: 100px;
    margin-bottom: 0;
  }

  .product__img {
    left: -30px;

    & img {
      height: calc(100vh - 150px);
    }
  }
}

@media (max-width: $mobile-width) {
  .product {
    width: 100%;
    padding-left: 0;
  }

  .product__card {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .product__card-wrapper {
    margin-left: 0;
  }

  .product__img {
    left: -30px;

    & img {
      height: calc(100vh - 200px);
    }
  }

  .product__list {
    display: none;
  }

  .product__country {
    left: auto;
    right: 0;
  }

  .product__card-link {
    position: absolute;
    left: 20px;
    top: 0;
    display: block;
    color: $lightest-grey;
    @include main-font(14px, 18px, 800);
    letter-spacing: 0.5px;
    text-transform: uppercase;

    &:hover {
      opacity: 0.5;
    }
  }
}

@media (max-width: 500px) {

  .product__img {
    left: -20px;

    & img {
      width: 147px;
      height: 350px;
    }
  }

  .product__card-text {
    @include main-font(38px, 40px, 900);

    &--big {
      font-size: 77px;
      line-height: 80px;
    }
  }

  .product__country {
    left: auto;
    right: -2px;
    top: 120px;
  }

  .product__country-title {
    @include main-font(10px, 13px, 600);
    letter-spacing: 0.35px;
  }

  .product__country-text {
    @include main-font(14px, 18px, 800);
    letter-spacing: 2px;
  }
}
