.rating {
  width: 100%;
  display: flex;
  margin-bottom: 7px;
}

.rating__stars {
  width: 95px;
  display: flex;
  justify-content: space-between;
  margin-right: 12px;

  & .icon-rating-star {
    color: $dark-yellow;
    font-size: 14px;
  }
}

.rating__value {
  margin: 0;
}

.rating__current-value {
  @include main-font(14px, 18px, 800);
  color: $dark-yellow;
}

.rating__max-value {
  @include main-font(10px, 10px, 400);
  margin-left: -2px;
  color: $text-grey;
}
