// Пример
// @font-face {
//   font-family: 'MyWebFont';
//   font-style: normal;
//   font-weight: 400;
//   src: url('webfont.eot');
//   src: url('webfont.eot?#iefix') format('embedded-opentype'),
//        url('webfont.woff2') format('woff2'),
//        url('webfont.woff') format('woff'),
//        url('webfont.otf')  format('opentype'),
//        url('webfont.ttf')  format('truetype'),
//        url('webfont.svg#svgFontName') format('svg');
// }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MontserratRegular.eot');
  src: url('../fonts/MontserratRegular.eot') format('embedded-opentype'),
        url('../fonts/MontserratRegular.woff2') format('woff2'),
        url('../fonts/MontserratRegular.woff') format('woff'),
        url('../fonts/MontserratRegular.ttf') format('truetype'),
        url('../fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/MontserratMedium.eot');
  src: url('../fonts/MontserratMedium.eot') format('embedded-opentype'),
        url('../fonts/MontserratMedium.woff2') format('woff2'),
        url('../fonts/MontserratMedium.woff') format('woff'),
        url('../fonts/MontserratMedium.ttf') format('truetype'),
        url('../fonts/MontserratMedium.svg#MontserratMedium') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/MontserratSemiBold.eot');
  src: url('../fonts/MontserratSemiBold.eot') format('embedded-opentype'),
        url('../fonts/MontserratSemiBold.woff2') format('woff2'),
        url('../fonts/MontserratSemiBold.woff') format('woff'),
        url('../fonts/MontserratSemiBold.ttf') format('truetype'),
        url('../fonts/MontserratSemiBold.svg#MontserratSemiBold') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/MontserratBold.eot');
  src: url('../fonts/MontserratBold.eot') format('embedded-opentype'),
        url('../fonts/MontserratBold.woff2') format('woff2'),
        url('../fonts/MontserratBold.woff') format('woff'),
        url('../fonts/MontserratBold.ttf') format('truetype'),
        url('../fonts/MontserratBold.svg#MontserratBold') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/MontserratExtraBold.eot');
  src: url('../fonts/MontserratExtraBold.eot') format('embedded-opentype'),
        url('../fonts/MontserratExtraBold.woff2') format('woff2'),
        url('../fonts/MontserratExtraBold.woff') format('woff'),
        url('../fonts/MontserratExtraBold.ttf') format('truetype'),
        url('../fonts/MontserratExtraBold.svg#MontserratExtraBold') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/MontserratBlack.eot');
  src: url('../fonts/MontserratBlack.eot') format('embedded-opentype'),
        url('../fonts/MontserratBlack.woff2') format('woff2'),
        url('../fonts/MontserratBlack.woff') format('woff'),
        url('../fonts/MontserratBlack.ttf') format('truetype'),
        url('../fonts/MontserratBlack.svg#MontserratBlack') format('svg');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Monsterrat", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  background-color: #fafafa;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.body-hidden {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
