$black: #000000;
$white: #ffffff;
$yellow: #fbc732;
$text-grey: #75737d;
$darkest-blue: #232731;
$dark-blue: #1c1f27;
$menu-bg: #21252f;
$text-color: #2a292e;
$light-grey: #aeaeae;
$border-grey: #979797;
$card-bg: #2f333c;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$full-desktop-width: 1700px;
$desktop-width: 1440px;
$tablet-width: 1024px;
$mobile-width: 768px;
$full-mobile-width: 375px;
